* {
    margin: 0;
    padding: 0;
}
.intro{
    background-color: #4FD0B6;
    height: 32px;
}
.btn{
    background-color: #339C87;
    font-size: 15px;
}
.btn:hover{
    background-color: #4FD0B6;
}