.bg {
    background-color: #4FD0B6;
}

.btn:hover {
    background-color: #4FD0B6;
}

body {
    margin: 0;
    padding: 0;
}

.intro {
    height: 25px;
}

.btn-bg {
    background-color: #339C87 !important;
    color: white;
}
/* Custom styles for dropdown hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Custom size for the dropdown menu */
.dropdown-menu.custom-dropdown {
    width: 1000px;  /* Set width */
    height: 450px;  /* Set height */
    overflow: auto;  /* Enable scrolling if content overflows */
}

.card {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black !important;
    text-align: center;
}

.dropdown-item .row .col-md-2 h4 {
    font-size: 20px;
}

.slide-container {
    width: 70%;
    height: 100vh;
}

.ad-section {
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-section img {
    width: 100%;
    padding: 3px;
}
.active{
    font-size: 19px;
}
.img-design{
    width: 100%;
    height: 100%;
}
tr td.text-right{
    text-align: right;
}





